

html.theme-translucent {
  @import '/src/assets/less/variable.less';
  @import 'component.lazy.less';

  @primary-color: #0d0f10;
  
  --primary-color: #0d0f10;       // 全局主色

  .design-form {
    background-image: url('img/bg.webp');
    background-size: 100% auto;

    > .design-form-header {
      border-bottom: 2px solid #312e2e;
      background-color: rgba(255, 255, 255, 0.6);

      > .design-form-header-logo {
        color: @primary-color;
      }

      > .design-form-header-menu {
        .ant-menu {
          background: transparent;
        }
      }
    }

    > .design-form-body {
      > .design-form-center {
        background-color: rgba(255, 255, 255, 0.3);

        > .design-form-canvas {
          > .design-form-canvas-page {
            background-color: rgba(255, 255, 255, 0.6);
          }
        }
      }

      > .design-form-aside {
        > .design-form-aside-group {
          background-color: rgba(255, 255, 255, 0.8);

          > .design-form-aside-group-item {
            > .iconfont {
              color: @primary-color;
            }

            &:hover {
              background-color: #ffffff;
              box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.2);

              > .iconfont {
              }
            }

            &.active {
              background-color: @primary-color;
              background: linear-gradient(to bottom, #312e2e, #211e1e, #1a1818);

              &:after {
                background-color: @primary-color;
                background: linear-gradient(to bottom, #312e2e, #211e1e, #1a1818);
              }

              > .iconfont {
                color: #ffffff;
              }
            }
          }
        }

        > .design-form-aside-content {
          background-color: rgba(255, 255, 255, 0.6);

          > .design-form-aside-toolbox {
            > .design-form-aside-toolbox-group {

              > .design-form-aside-components {
                > .component-item {
                  background-color: rgba(255, 255, 255, 0.6);
                }
              }
            }
          }
        }
      }

      > .design-form-property {
        background-color: rgba(255, 255, 255, 0.5);

        .ant-tabs-nav-wrap {
          .ant-tabs-tab {
            &.ant-tabs-tab-active {
              background: linear-gradient(to bottom, #312e2e, #211e1e, #1a1818);
              border-color: #312e2e;
              border-top-color: #312e2e;
              border-bottom-color: #1a1818;
            }
          }
        }
      }
    }
  }

  // 折叠面板
  .expand-handle-left {
    z-index: 1;

    &:hover {
      &:before {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }

    &:before {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}