@import '/font/iconfont/iconfont.css';

// 覆盖默认样式
:root {
  --c-brand: #5A6FFF;
  --c-brand-light: #6277ff;

  --code-bg-color: #1E1E1E !important;
  --demoblock-border: var(--c-border);
  --demoblock-control: #d3dce6;
  --demoblock-control-bg: var(--c-bg);
  --demoblock-control-bg-hover: #f9fafc;
  --demoblock-description-bg: var(--c-bg);
}

html.dark {
  --c-brand: #3aa675;
  --c-brand-light: #349469;

  --code-bg-color: #282c34 !important;
  --demoblock-border: var(--c-border);
  --demoblock-control: #8b9eb0;
  --demoblock-control-bg: var(--c-bg);
  --demoblock-control-bg-hover: var(--c-bg);
  --demoblock-description-bg: var(--code-bg-color);
}

.search-box {
  order: -1;
  margin-right: 1rem;
}

.form-canvas.preview {

  .form-component.visible {
    display: block;

    > .component-item {
      padding: 0px;
    }
  }
}